body {
    background-color: black;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.calculator {
    padding: 25px;
    background-color: #2f2f3f;
    width: 300px;
    border-radius: 4%;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 75px;
    background-color: #1c8154;
    margin-bottom: 25px;
    font-size: 40px;
    border-radius: 4%;
    color: #002566;
    padding-right: 5px;
}

.row {
    display: flex;
    gap: 10px;
}

.bottom-row {
    display: flex;
    gap: 20px;
}

.bottom-row button {
    background-color: rgb(198, 129, 11);
    color: black;
    font-weight: 550;
    margin-bottom: 0;
}

button {
    background-color: #111111;
    color: white;
    width: 55px;
    height: 60px;
    margin-bottom: 15px;
    border-radius: 10%;
    flex-grow: 1;
    font-size: 22px;
    border: none;
}