body {
    background-color: black;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.calculator {
    padding: 20px;
    background-color: blue;
    width: 300px; /* Máximo ancho del contenedor */
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 75px;
    background-color: gray;
    margin-bottom: 10px;
    font-size: 40px;
    border-radius: 4%;
}

.row, .bottom-row {
    display: flex;
    gap: 10px;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
}

button {
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
    border-radius: 10%;
    flex-grow: 1;
    font-size: 20px;
    padding: 20px;
}